body {
    background-color: #5B9EED;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: grey;
   
}

main#main-container {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px, 100px;
    margin: 50px 0;
    border: 1px solid transparent;
    border-radius: 5%;

}

figure {
    margin-left: 12px;
}

 

figure img {

    border: 1px solid transparent;
    border-radius: 100%;
    height: 100px;
    width: 100px;
}

#main-container section{
    display: flex;
    justify-content: space-evenly;
    padding: 15px 100px;
}